<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MWL Technologies</a>
  </div>
</nav>

<section id="about" class="bg-success py-3">
  <div class="container">
    <h2>
      MWL Technologies Ltd - in creditors' voluntary liquidation ("the Company")
    </h2>

    <p>
      The Company has ceased to trade and went into solvent liquidation on 1
      December, 2023.
    </p>

    <p>
      For further information please contact the liquidator at:<br />
      F A Simms & Partners Limited<br />
      Alma Park, Woodway Lane<br />
      Claybrooke Parva<br />
      Lutterworth<br />
      Leicestershire<br />
      LE17 5FB<br />
      Telephone: 01455 555 444
    </p>
  </div>
</section>
